SELECT 
FC.VISITOR,
COUNT(FC.NEWS) AS NEWS,
SUM(FC.NEWS_T) AS NEWS_T,
COUNT(FC.DRAMA) AS DRAMA,
SUM(FC.DRAMA_T) AS DRAMA_T,
COUNT(FC.KIDS) AS KIDS,
SUM(FC.KIDS_T) AS KIDS_T,
COUNT(FC.ENTERTAINMENT) AS ENTERTAINMENT,
SUM(FC.ENTERTAINMENT_T) AS ENTERTAINMENT_T,
COUNT(FC.SPORT) AS SPORT,
SUM(FC.SPORT_T) AS SPORT_T,
COUNT(FC.ECONOMY) AS ECONOMY,
SUM(FC.ECONOMY_T) AS ECONOMY_T
FROM
(SELECT VISITOR, ATTRIBUTE, 
(case
WHEN ATTRIBUTE LIKE N'%新聞%'
THEN
'Y'
end) AS NEWS,
(case
WHEN ATTRIBUTE LIKE N'%新聞%'
THEN
TIMESPENT
ELSE
'0'
end) AS NEWS_T,
(case
WHEN ATTRIBUTE LIKE N'%劇%'
THEN
'Y'
end) AS DRAMA,
(case
WHEN ATTRIBUTE LIKE N'%劇%'
THEN
TIMESPENT
ELSE
'0'
end) AS DRAMA_T,
(case
WHEN ATTRIBUTE LIKE N'%兒童%'
THEN
'Y'
end) AS KIDS,
(case
WHEN ATTRIBUTE LIKE N'%兒童%'
THEN
TIMESPENT
ELSE
'0'
end) AS KIDS_T,
(case
WHEN ATTRIBUTE LIKE N'%娛樂%'
THEN
'Y'
end) AS ENTERTAINMENT,
(case
WHEN ATTRIBUTE LIKE N'%娛樂%'
THEN
TIMESPENT
ELSE
'0'
end) AS ENTERTAINMENT_T,
(case
WHEN ATTRIBUTE LIKE N'%體育%'
THEN
'Y'
end) AS SPORT,
(case
WHEN ATTRIBUTE LIKE N'%體育%'
THEN
TIMESPENT
ELSE
'0'
end) AS SPORT_T,
(case
WHEN ATTRIBUTE LIKE N'%財經%'
THEN
'Y'
end) AS ECONOMY,
(case
WHEN ATTRIBUTE LIKE N'%財經%'
THEN
TIMESPENT
ELSE
'0'
end) AS ECONOMY_T
FROM  
dbo.IMPORTSTREAM_SUMMARY_NEW_ADHOC S, 
dbo.DB2_MYTV_SUPER_MAPPING_TABLE TB
WHERE S.VIDEOID = TB.VIDEOID) FC
GROUP BY VISITOR